*
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*CSS for small devices*/
@media only screen and(max-width: 600px)
{
body{
    font-size:14px;
}
#header{
    display: none;
}
}
body
{
    background-image:url(tea.jpg);
    background-size: 500px;
    background-repeat: repeat;
    background-position: center;
}
header
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: darkorange;
    text-align:center;
    padding:20px;
    font-size:40px;
    letter-spacing:1px;
    color: greenyellow;
}
.favicon
{
    margin-left: 1cm;
    padding-left: 2px;
    align-content: center;
    float: left;
    border-radius: 1cm;
}
.favicon img
{
  border-radius: 0.5cm;
  width: 4.5cm;
  height: 3.5cm;
  margin-top: 6px;
}
.search
{
    margin-left: 1cm;
    width: 7.5cm;
    padding-bottom: 3cm;
    height: 5cm;
}
.srch
{   
    background-color: hsl(60, 71%, 97%)5, 235, 228;
    width: 300px;
    height: 50px;
    border-radius: 1cm;
    color: #14c5dc;
    margin-top: 0.1cm;
    margin-right: 2cm;
    padding-right: 30px;
    text-align: center;
}
.menu-bar
{
    background:#fa0303ec;
    text-align:center;
    background-position: 100%;
    border-width: 100%;
}
.menu-bar ul
{
    display:inline-flex;
    margin-right:6cm;
    list-style: none;
    text-decoration: none;
    color: white;
}
.menu-bar ul li 
{
    width:150px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding-top:50px;
    height:130px ;
    font-size: 30px;
    position: relative;
    font-weight:500;
}
.menu-bar ul li a
{
    color:white;
    text-decoration: none;
    text-align:right;
}
.wrapper
{
    margin-top:5px;
    background-color: #09f809;
    position:relative;
    width:550px;
    height:700px;
    border: 2px solid #fff;
    margin-left: 470px;
    box-shadow:0 0 30px black;
    display:flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.wrapper .form1-box
{
    width:100%;
    padding:40px;

}
.input-box
{
    position:relative;
    height:50px;
    width:100%;
    border-bottom:2px solid hsla(84, 100%, 4%, 0.897);
    margin:30px 0;

}
.input-box label
{
position:absolute;
top:10%;
left: 6px;
transform: translateY(-60%);
font-size:1em;
color:#162938;
font-weight: 500;
font-size:15px;
}
.input-box input
{
    width:100%;
    height:100%;
    background:transparent;
    border:none;
    outline:none;
}
.input-box label:focus~label,
.input-box label:valid~label
{
    top:-5px;

}
.remember-forgot
{
    font-size:.9em;
    font-weight:500;
    margin:-15px 0 15px;
    display:flex;
    justify-content:space-between;
}
.btn
{
    width:100%;
    height:45px;
    background:darkgrey;
    border-radius:5px;
    font-size:25px;

}
.login-register
{
    font-size:30px;
    margin:25px 0 10px;

}
.menu-bar .btnLogin-popup
{
width: 130px;
height:50px;
background:transparent;
border:2px solid white;
border-radius:6px;
font-size: 35px;
font-weight:500;
margin-left:40px;
color:white;
transition: .5s;
}
.menu-bar .btnLogin-popup:hover
{
    background:#fff;
    color:green;
}
.menu-bar a::after
{
content: "";
position:absolute;
width:100%;
height:5px;
background:#fff;
border-radius:5px;
left:0;
bottom:30px;
transform: scaleX(0);
transition: transform .5s;

}
.menu-bar a:hover::after
{
    transform:scaleX(1);
}
.li .a:hover
{
    color: #09f809;
}
.menu-bar ul li a:hover
{
color: #09f809;
}
a:visited
{
color: #6114ee;
}
a:active
{
color: #fc000d;
}
.container1
{
   background-image:url(Screenshot.jpg) ;
   text-decoration-color:#ffffff ;
   text-align: center;
   margin-top: 40px;
   border-top-color: #ff0077;
   border-right-color: #ffa600;
   border-bottom-color: #6114ee;
   border-left-color: #bbff00;
   width: 38cm;
   color: #07ec07;
   letter-spacing: 3px;
   border-style: outset;
   border-width: 30px;
   margin-right: 10cm;
   margin-left: 0cm;
   font-size: 30px;
   height: 20cm;
   border-radius: 70px;
   shape-margin:49px;
   border-spacing: 1cm;

}
.map
{
    background-size: 50px;
    color: cyan;
    font-size: 50px;
    
}
.map iframe
{
    width: 50%;
    margin-bottom: 10px;
    width: 5cm;
    height: 4cm;
}
form
{
    background:violet;
    display: flex;
    flex-direction: column;
    padding: 2vw 4vw;
    width: 100%;
    max-width:1600px;
    border-radius:10px;
}
form input, form textarea{
    border: 0;
    margin: 10px;
    padding: 20px;
    font-size:16px;
    color:black;
}
form button{
    padding:15px;
    background:#bbff00;
    color:brown;
    font-size:15px;
    border: 0;
    cursor: pointer;
    width: 150px;
    margin:20px auto 0;
    border-radius:30px;
}
.container1 h2
{
    background-color: chocolate;
    text-align: right;
    color: chartreuse;
}
.container2
{
    background-image: url(dibug.jpg);
    background-size: 500px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    margin-top: 30px;
    border-style: double;
    border-width: 2cm;
    width: 1450px;
    height: 900px;
    border-top-color: #14c5dc;
    border-left-color: chartreuse;
    border-right-color: #ff0077;
    border-bottom-color: #ff0000;
    color: yellow;
    border-spacing: 40px;
    letter-spacing:4px;
    font-size: 30px;
    padding-top: 20px;
    margin-left: 0cm;
}
.container2 h3
{
    font-size: 50px;
    text-align: center;
    color: antiquewhite;
}
.container2 p
{
    text-align: center;
}
.container3
{
    border-radius: 10px;
    padding-top: 30px;
    background-color: hsla(90, 8%, 90%, 0.87);
    border-style:inset ;
    border-width: 2cm;
    border-color:maroon ;
    border-radius: 2cm;
    border-width: 56px;
    margin-right: 20px;
    text-align: center;
    color: #14c5dc;
    font-size: 40px;
    margin-top: 1cm;
    width: 1500px;
    height: 650px;
    margin-left: 0cm;
}
.container3 h4
{
    text-align: center;
}
.container3 p
{
    text-align: left;
    color: #1713f0;
}
.photos
{
    border-width: 2cm;

    border-style: dashed;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 0;
    width:1000px;
    height: 1200;
    border-color: rgba(128, 255, 0, 0.178);
    background-image:url(programmer.jpg) ;
    background-size: 500px;
    background-repeat: repeat;
    font-size: 30px;
    color: #13f013;
}
.contact
{
    border-bottom-right-radius: 5cm;
    border-bottom-left-radius: 5cm;
    border-top: #fc000d;
    border-right: darkorange;
    border-left:blueviolet ;
    border-bottom: #07ec07;
    margin-left: 0;
    background-color: #f01313e1;
    width:1000px;
    height: 1000px;
    font-size: 30px;
    border-width: 56px;
    color: #131212;
    border-style: inset;
    border-spacing: 150px;
}
.mission
{
    margin-top: 1cm;
    border-style: outset;
    border-width: 20px;
    background-color: #67e71298;
    border-top-left-radius: 30px;
    color: hsla(357, 92%, 62%, 0.911);
    width: 25cm;
    height: 10cm;
    margin-left: 3cm;
    font-size: 20px;
}
.vision
{
    margin-top: 2cm;
    border-style:ridge;
    border-width: 20px;
    background-color: rgba(16, 90, 228, 0.658);
    border-top-right-radius: 30px;
    border-bottom-left-radius: 40px;
    width: 25cm;
    height: 15cm;
    margin-left: 6cm;
    font-size: 25px;
}
.ourteam
{
    margin-top: 2cm;
    border-color: #fc000d;
    border-style: groove;
    border-width: 27px;
    background-color: #e410d9da;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 40px;
    width: 25cm;
    height: 15cm;
    margin-left: 10cm;
    color: cornsilk;
    font-size: 20px;
    letter-spacing:2px;
}
.services
{
    margin-top: 3cm;
    border-top-left-radius: 2cm;
    border-top-right-radius: 2cm;
    border-block-start: #13f013;
    border-style:outset;
    border-color: hsl(240, 92%, 50%);
    width: 35cm;
    height: 40cm;
    margin-left: 3cm;
    flood-color: #14c5dc;
    color: rgba(13, 14, 14, 0.76);
    border-width: 58px;
    background-color: fuchsia;
    font-size: 45px;
}
.footer
{
    background-color:hwb(276 88% 8% / 0.945);
    text-align:center;
    background-size: auto;
    padding:5px;
    color: #07ec07;
    font-size: 30px;
    letter-spacing: 3px;
}
.icons
{
    padding:15px;

}
.validation
{
    text-align:center;
}
.form
{
    text-align:center;
}